galaxy_info:
  role_name: {{ cookiecutter.role_name }}
  author: "{{ cookiecutter.author_name }}"
  description: "{{ cookiecutter.role_description }}"
  license: MIT
  min_ansible_version: 2.9
  platforms:
    - name: {{ cookiecutter.platform }}
      versions:
        - All
  galaxy_tags: []
dependencies: []