galaxy_info:
  author: "{{ cookiecutter.author_name }}"
  description: "{{ cookiecutter.role_description }}"
  license: MIT
  min_ansible_version: 2.9
  platforms:
    - name: {{ platform }}
      versions:
        - bla
  galaxy_tags: {{ cookiecutter.galaxy_tags }}
dependencies: []